<h1>Pipet.sc - みんなでつくる学内赤本</h1>

<h2>理工系学問特化型Q&Aサイト</h2>
<strong>東京理科大学理工学部(10学科)の方のみご利用できます。</strong><br>

Available on Apple App Store <br>
Available on the Google play <br>

<hr>

<%= render "links" %>