<h1>Editing discussion</h1>

<%= render 'form' %>

<%= link_to 'Show', [@discussion.problem, @discussion.super_answer, @discussion] %> |
<%= link_to 'Back', [@discussion.problem, @discussion.super_answer] %>
