<div class="container content">
	<div class="row">
		<div class="span9" style="margin-top:30px; background-color:#eee;">
			<div class="create-disboard" style="padding:10px;">
				<h2><%= image_tag "q_40.png", class: "q_40" %><span>問題を作成</span></h2>
			</div><hr><br/>
			<%= render 'form' %>
		</div>
	</div>
</div>


<%= link_to 'Back', problems_path %>
