// Place all the styles related to the Problems controller here.
// They will automatically be included in application.css.
// You can use Sass here: http://sass-lang.com/

.problems-index
	color: #333
	font-size: 13px
	line-height: 20px

	img
		border: 0

	a:focus
		outline: none	

.problems-new
	color: #333
	font-size: 13px
	line-height: 20px

	img
		border: 0

	a:focus
		outline: none	

	.q_40
		margin-right: 10px

	.field2
		margin-left: 60px
		margin-bottom: 20px	

	label
		display: inline
		font-size: 15px

	#problem_tag_list
		width: 500px

	.field3
		margin-left: 60px		 	


	.nicEdit-main
		background-color: #fff




	.btn-success
		background-color: #9e3a5e
		*background-color: #9e3a5e
		background-image: -ms-linear-gradient(top, #a85571, #9e3a5e)
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a85571), to(#9e3a5e))
		background-image: -webkit-linear-gradient(top, #a85571, #9e3a5e)
		background-image: -o-linear-gradient(top, #a85571, #9e3a5e)
		background-image: -moz-linear-gradient(top, #a85571, #9e3a5e)
		background-image: linear-gradient(top, #a85571, #9e3a5e)
		background-repeat: repeat-x
		border-color: #51a351 #51a351 #387038
		border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
		filter: progid:dximagetransform.microsoft.gradient(startColorstr='#a85571', endColorstr='#9e3a5e', GradientType=0)
		filter: progid:dximagetransform.microsoft.gradient(enabled=false)
		margin-left: 505px

	.btn-success:hover,
	.btn-success:active,
	.btn-success.active,
	.btn-success.disabled,
	.btn-success[disabled]
		background-color: #9e3a5e
		*background-color: #9e3a5e

	.span3
		background-color: #ddd
		height: 200px
		margin-top: 30px		

.problems-show
	color: yellow