<h2>this is User::Images</h2>

<% @images.each do |i| %>
	<%= link_to (image_tag i.image_url.to_s, size: '200x90'), edit_user_image_path(current_user, i) %>
	<hr>
<% end %>

<%= link_to "New image", new_user_image_path(current_user) %><br />