<h1>ProblemImages#new</h1>
<p>Find me in app/views/problem_images/new.html.erb</p>

<%= form_for [@image.problem, @image] do |f| -%>
  <%= f.file_field :image %><br>
  <%= f.submit :submit %>
<% end -%>
